rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /shares/{shareId} {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.ownerId == request.auth.uid;
      
      match /files/{fileId} {
        allow read: if true;
        allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/shares/$(shareId)).data.ownerId == request.auth.uid;
      }
    }
    
    // User's received documents rules
    match /users/{userId}/receivedDocuments/{documentId} {
      allow read, create, delete: if request.auth != null && request.auth.uid == userId;
      allow update: if false; // Not needed
    }
  }
}
